body
{
    background-color: #FEFBE9;
}

h1{
    color:brown; font-style:normal; font-size: 150px;;
}
h2
{
    color:black; font-style: italic; font-size: 100px;
}
img {
   background-color:black;
}

.glass{
    background-color:red;
}

.click{
    background-color: blue;
}

